<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067733042753-jpufgou9299tf3682bqs37u65pptqdbp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067733042753-jpufgou9299tf3682bqs37u65pptqdbp</string>
	<key>API_KEY</key>
	<string>AIzaSyAOjGUv-RMZrIbfBlNfjH7vtv2qCvRyKjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1067733042753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coffeFlutter</string>
	<key>PROJECT_ID</key>
	<string>cofee-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>cofee-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067733042753:ios:fa1839faf50e77763e28c0</string>
</dict>
</plist>